<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="/css/partial.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap');
        </style>
  </head>
  <body class="has-navbar-fixed-top">
    <%- include('../partials/login_nav.ejs') %>

    <section>
      <div class="login-box">
        <h2>LandPost</h2>
        <h3>Login</h3>
        <form action="/login" method="POST">
          <div>
            <label class="email-label">Email</label>
            <div>
              <input
                name="email"
                type="email"
                placeholder="example@domain.com"
              />
            </div>
          </div>
          <div >
            <label>Password</label>
            <div>
              <input
                name="password"
                type="password"
                placeholder="******"
              />
            </div>
          </div>
          <div>
            <div>
              <button>Submit</button>
              <p>Or Sign-Up Below</p>
              <p class="register-link"><a href="/register">Sign-Up</a></p>
              
            </div>
          </div>
        </form>
      </div>
      
    </section>
  </body>
</html>