<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="/css/partial.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap');
        </style>
  </head>
  <body class="has-navbar-fixed-top">
    <%- include('../partials/login_nav.ejs') %>

    <section class="login-container">
      <div class="login-box">
      <div class="hero-body is-flex-direction-column">
        <h2>LandPost</h2>
        <h3>Register</h3>
        <form action="/register" method="POST" class="box">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input
                name="username"
                class="input"
                type="text"
                placeholder="my username"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input
                name="email"
                class="input"
                type="email"
                placeholder="example@domain.com"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input
                name="password"
                class="input"
                type="password"
                placeholder="******"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Avatar</label>
            <div class="control">
              <input
                name="avatar"
                class="input"
                type="input"
                placeholder="https:"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link is-fullwidth">Submit</button>
              <p class="login-link"><a href="/login">Login</a></p>
            </div>
          </div>
        </form>
      </div>
      </div>
    </section>
    <main class="container is-max-widescreen"></main>
  </body>
</html>