<div class="login">
    <% if (routes) { %> <% routes.forEach((route) => { %>
      <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
  <% }) %> <% } %>
</div>
<nav>
    <div class="title">
    <img class="logo" src="https://imgur.com/AAyVs7u.png">
    <!-- <img class="logo" src="https://i.imgur.com/syhiuDb.png"> -->
    
    <!-- <h2>LandPost</h2> -->
      <!-- routes -->
    
</div>
</nav>