<div class="login">
    <% if (routes) { %> <% routes.forEach((route) => { %>
      <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
    <% }) %> <% } %>
</div>

<nav class="login-nav-header">
    <div class="title">
      <img class="logo" src="https://imgur.com/AAyVs7u.png">
      <h2>LandPost</h2>
    </div>
</nav>