<div class="login">
    <% if (routes) { %> <% routes.forEach((route) => { %>
      <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
  <% }) %> <% } %>
</div>
<div class="nav-container">
    <nav class="nav-bar">
        <div class="title">
            <img class="logo" src="https://imgur.com/AAyVs7u.png">
            <h2>LandPost</h2> 
        </div>
        <div class="navLinks">
                <a class="navA" href = "/blog">Home</a>
                <% if (user) { %>
                    <p class="navbar-item"><%= user.username %></p>
                <% } %>
        </div>
    </nav>
</div>