<nav>
    <a href = "/blog">Home</a> |
    <a href = "/blog/new">+</a> 
    <div class="navbar-menu navbar-end">
        <% if (user) { %>
            <p class="navbar-item"><%= user.username %></p>
        <% } %>
        <!-- routes -->
        <% if (routes) { %> <% routes.forEach((route) => { %>
            <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
        <% }) %> <% } %>
    </div>
</nav>