<div class="login">
    <% if (routes) { %> <% routes.forEach((route) => { %>
      <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
  <% }) %> <% } %>
</div>
<nav>
    <div class="title">
    <img class="logo" src="https://imgur.com/AAyVs7u.png">
    <!-- <img class="logo" src="https://i.imgur.com/syhiuDb.png"> -->
    
    <h2>LandPost</h2>
    
    <div class="navLinks">
    <a class="navA" href = "/blog">Home</a> |
    <a class="navA" href = "/blog/new">+</a>
        <% if (user) { %>
            <p class="navbar-item"><%= user.username %></p>
        <% } %>
      
    </div>

      <!-- routes -->
    
</div>
</nav>