<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
        </style>
    <title>LandPost</title>
</head>
<body>

<%- include('../partials/nav.ejs') %>
<h3>New Comment</h3>
<div>
    <form action="/comments" method="POST">
    
    <div>
        

        <label for="body">Body:</label>
        <input
        type="text"
        placeholder="Comment here..."
        name="body"
        id="body"
        />
        <input type="hidden" name="post" value="<%= post.id %>" />
        <input type="submit" value="Submit" />

    </div>
</form>
</div>
</body>
</html>