<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap');
        </style>
    <title>LandPost</title>
</head>
<body>

<%- include('partials/nav.ejs') %>
<div class="new-post-box">
<h3>New Post</h3>
<div>
<form action="/blog" method="POST">
    <div>
        
        <label for="user"></label>
        
        <input
        type="hidden"
          value="<%= user.username %>"
          name="user"
          id="user"
          />
    </div>
            
    <!-- <div>
    
        <label for="body">Body</label>
        <input 
        type="text" 
          placeholder="Body" 
          name="body" 
          id="body" 
          />    
    </div> -->
            
    <div>
        
        <label for="image">Image URL:</label>
        <input 
        type="text" 
        placeholder="http://" 
        name="image" 
        id="image" 
        />
        
    </div>
    
    <div>

    <label for="location">Location:</label>
      <input
        class="input"
        type="text"
        placeholder="City,State"
        name="location"
        id="location"
          />
    </div>
            
    <div>

        <label for="avatar"></label>
          <input
            class="input"
            type="hidden"
            value="<%= user.avatar %>"
            name="avatar"
            id="avatar"
              />
        </div>

        <div>
    
          <label for="body">Text:</label>
          <input 
          type="text" 
            placeholder="Text" 
            name="body" 
            id="body" 
            />    
      </div>

    <button class="create-post">Create Post</button>
</form>
</div>
</div>
</body>
</html>