<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/partial.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap');
        </style>
    <title>LandPost</title>
</head>
<body class="main-color">

<%- include('partials/nav.ejs') %>
<div class="postbox-container">
  <div class="new-post-box">
    <h3>New Post</h3>
    <div class="input-style">
      <form action="/blog" method="POST">    
          <label for="user" class="post-label"></label>
            <input
              type="hidden"
              value="<%= user.username %>"
              name="user"
              id="user"
              /> 
      </div>
      <div class="input-style">
          <label for="image" class="post-label">Image URL:</label>
            <input
            class="post-input"
            type="text" 
            placeholder="http://" 
            name="image" 
            id="image" 
            />  
        </div>
      <div class="input-style">
      <label for="location" class="post-label">Location:</label>
        <input
          class="post-input"
          type="text"
          placeholder="City,State"
          name="location"
          id="location"
            />
      </div>
            
      <div class="input-style">
        <label for="avatar" class="post-label"></label>
          <input
            type="hidden"
            value="<%= user.avatar %>"
            name="avatar"
            id="avatar"
              />
        </div>

        <div class="input-style">
    
          <label for="body" class="post-label">Text:</label>
          <input
          class="post-input" 
          type="text" 
            placeholder="Text" 
            name="body" 
            id="body" 
            />    
          </div>
    <button class="create-post">Create Post</button>
  </form>
</div>
</div>
</body>
</html>

    <!-- <div>
    
        <label for="body">Body</label>
        <input 
        type="text" 
          placeholder="Body" 
          name="body" 
          id="body" 
          />    
    </div> -->
            