<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandPost</title>
</head>
<body>
<h2>New Post</h2>
<%- include('partials/nav.ejs') %>
<div>
<form action="/blog" method="POST">
    
    
    <div>
        
        <label for="user">User</label>
        <input
         type="text"
          placeholder="My Username"
          name="user"
          id="user"
          />
    </div>
            
    <div>
    
        <label for="body">Body</label>
        <input 
         type="text" 
          placeholder="Body" 
          name="body" 
          id="body" 
          />    
     </div>
            
    <div>
        
        <label for="image">Image</label>
         <input 
         type="text" 
         placeholder="http://" 
         name="image" 
         id="image" 
        />
        
    </div>
    
    <div>

        <label for="location">Location</label>
      <input
        class="input"
        type="text"
        placeholder="City,State"
        name="location"
        id="location"
          />
    </div>
            
    <button class="button is-info">Create Post</button>
</form>
</div>
</body>
</html>