

body{
    /* background-color: rgba(140, 150, 130, .5); */
    /* background-color: rgba(158, 162, 142, .7); */
    background-color: rgba(192, 200, 201, .7);
}

.logo{
max-width: 70px;
max-height: 70px;
margin-top: 30px;
/* border-radius: 50px;
box-shadow: 1px 1px 0px 1px; */
}

nav{
    text-align: center;
    /* color:white; */
    background-color:whitesmoke;
    border-radius: 5px;
    /* border: 1px solid grey; */
    box-shadow: 1px 1px black;
    height:150px;
    max-width: 1240px;
    
}
.login-box {
    position: absolute;
    top: 200px;
    left: 370px;
    background-color:whitesmoke;
    box-shadow: 1px 5px black;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    /* margin-left: 300px; */
}
h2{
    text-align: center;
    /* font-family: 'Caveat', cursive; */
    
    /* margin-top: -5px; */
    font-size: 30px;
    margin-top: -1px;
    /* max-height: 20px; */
    /* position: relative;
    top: 80px; */
}
div {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}

h3 {
    position: relative;
    top: 50px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
}
button {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 2px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(192, 200, 201, .7);
}
form {
    position: relative;
    top: 70px;
    /* width: 200px; */
    /* height: 30px; */
    font-family: 'Roboto', sans-serif;
    
    
    
}
input {
    font-size:'Roboto', sans-serif;
    background-color: white;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    resize: none;
    
}
label {
    font-size:'Roboto', sans-serif;
    position: relative;
    right: 75px;
    font-size: 12px;
}
.email-label {
    position: relative;
    right: 85px;
}
.register-link {
    position: relative;
    top: 77px;
    font-size: 15px;
    
}
p {
    font-size: 10px;
    position: relative;
    top: 75px;
}
.login-link {
    position: relative;
    top: 15px;
    font-size: 15px;
}




