

body{
    background-color: rgba(192, 200, 201, .7);
}

/* styling for login header */
.login {
    display: flex;
    font-size: 12px;
    font-style: italic;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.navbar-item{
    font-size: 14px;
    font-weight: bold;
    
}

.login-nav-header {
    display: flex;
    justify-content: center;

}

.title {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid whitesmoke; 
    border-radius: 5px;
    box-shadow: 2px 1px 0px 1px;
    width: 700px;
    margin-top: 20px;
    
}

.logo{
    max-width: 100px;
    height: 75px;
    margin-top: 30px;
    opacity: .9;
}

/* nav.ejs partial styling */
.nav-container{
    display: flex;
    justify-content: center;
    height: 150px;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 2000px;
}

.login-box {
    background-color:whitesmoke;
    box-shadow: 1px 5px black;
    border-radius: 5px;
    width: 400px;
    height: 500px;
}

.login-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
}

h2{
    margin-top: -1px;
    text-align: center;
    font-family:'Caveat', cursive;
    font-size: 50px;
    max-height: 20px;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}

h3 {
    position: relative;
    top: 50px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
}
button {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 2px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(192, 200, 201, .7);
}
form {
    position: relative;
    top: 70px;
    font-family: 'Roboto', sans-serif;
    
    
    
}
input {
    font-size:'Roboto', sans-serif;
    background-color: white;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    resize: none;
    
}
label {
    font-size:'Roboto', sans-serif;
    position: relative;
    right: 75px;
    font-size: 12px;
}
.email-label {
    position: relative;
    right: 85px;
}
.register-link {
    position: relative;
    top: 77px;
    font-size: 15px;
    
}
p {
    font-size: 10px;
    position: relative;
    top: 75px;
}
.login-link {
    position: relative;
    top: 15px;
    font-size: 15px;
}




