

body{
    background-color: rgba(140, 150, 130, .5);
}

.logo{
max-width: 35px;
margin-top: 10px;
}

nav{
    text-align: center;
    /* color:white; */
    background-color: rgba(245, 245, 245, .5);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 1px 1px;
    height:150px;
    max-width: 1240px;
    
}
h2{
    text-align: center;
    font-family: 'Caveat', cursive;
    margin-top: -5px;
    font-size: 40px;
    max-height: 20px;
}
div {
    text-align: center;

    
}

ul {
    list-style: none;
}
li {

    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}
.imgPost {
    border-radius: 10px;
    box-shadow: 1px 2px;
    /* min-height: 540px;
    min-width: 540px;
    max-width: 540px;
    max-height: 540px; */
}
h3 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 24px;
}
.navLinks {
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
button {
    box-shadow: 1px 2px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.user {
    /* background-color: black; */
    color: whitesmoke;
    height: 30px;
    width: 500px;
    margin-left: 375px;
    margin-bottom: 0px;
    
}
.commentDelete {
    display:contents;
}
p {
    font-family: 'Roboto', sans-serif;
}
input {
    box-shadow: 1px 2px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

