

body{
    background-color: rgba(140, 150, 130, .5);
    align-items: center;

}

.main-color{
    background-color: rgba(140, 150, 130, .5)
}

h2{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    max-height: 20px;
}
div {
    text-align: center;
}

ul {
    list-style: none;
}
li {

    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}
.imgPost {
    text-align: center;
    width: 700px;
}

.avatar-handle {
    display: flex;
    gap: 15px;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 10px;
}

h3 {
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
}

button {
    box-shadow: 1px 2px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.user {
    color: whitesmoke;
    height: 30px;
    width: 500px;
}
.commentDelete {
    display:contents;
}
p {
    font-family: 'Roboto', sans-serif;
}

input {
    box-shadow: 1px 2px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}


/* potentially come back and remove margin*/
.index-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    width: 700px;
}
.content {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 700px;
    background-color: whitesmoke;
}

.broader-content{
    display: flex;
    justify-content: center;
}

.create-post {
    position: relative;
    top: 50px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 2px;
    border-radius: 5px;
    background-color: rgba(192, 200, 201, .7);
}
.delete-btn {
text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

/* New Post Styling */
.postbox-container {
    display: flex;
    justify-content: center;
}

.new-post-box {
    background-color: whitesmoke;
    box-shadow: 1px 5px black;
    border-radius: 5px;
    width: 400px;
    height: 300px;
}

.input-style{
    display: flex;
    justify-content: space-between;
}

.post-input {
    margin-right: 40px;
}

.post-label {
    margin-left: 40px;
}
