.login {
    /* border: 1px solid red; */
    display: flex;
    font-size: 12px;
    font-style: italic;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.navbar-item{
    font-size: 14px;
    font-weight: bold;
    
}

.title {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    border: 1px solid whitesmoke; 
    border-radius: 5px;
    box-shadow: 2px 1px 0px 1px
}

.logo{
    max-width: 100px;
    }

/* nav.ejs partial styling */
.nav-container{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    height: 150px;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 2000px;
    /* border: 2px solid black; */
}